src/example-camel-cxf-jaxws/src/main/resources/HelloWorld.wsdl

<?xml version="1.0"?>
<wsdl:definitions name="HelloWorld"
  targetNamespace="http://example.com/services/helloworld"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:wsp="http://www.w3.org/ns/ws-policy" 
  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
  xmlns:tns="http://example.com/services/helloworld" xmlns:types="http://example.com/types/helloworld"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

  <wsdl:types>
    <xsd:schema targetNamespace="http://example.com/types/helloworld"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
      attributeFormDefault="unqualified" version="1.0">

      <xsd:element name="person">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="firstName" type="xsd:string" />
            <xsd:element name="lastName" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="greeting">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="greeting" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="FatalErrorList">
	      <xsd:complexType >		
			<xsd:sequence>
				<xsd:element name="code" type="xsd:string"/>
				<xsd:element name="message" type="xsd:string" minOccurs="0"/>
				<xsd:element name="causationData" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
 	      </xsd:complexType>
	  </xsd:element>
      
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="SayHelloInput">
    <wsdl:part name="person" element="types:person" />
  </wsdl:message>

  <wsdl:message name="SayHelloOutput">
    <wsdl:part name="greeting" element="types:greeting" />
  </wsdl:message>
  
  <wsdl:message name="FatalError">
		<wsdl:part name="fault" element="types:FatalErrorList"/>
	</wsdl:message>

  <wsdl:portType name="HelloWorld_PortType">
    <wsdl:operation name="sayHello">
      <wsdl:input message="tns:SayHelloInput" />
      <wsdl:output message="tns:SayHelloOutput" />
      <wsdl:fault name="fatalError" message="tns:FatalError"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="HelloWorld_SoapBinding" type="tns:HelloWorld_PortType">    
  
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      
    <wsp:PolicyReference URI="#SecurityServicePolicy"/>
        
<!--     <wsdl:operation name="retrieveAircraftProfile"> -->
<!-- 			<soap12:operation soapAction="http://www.airservicesaustralia.com/ODS/AircraftProfileService/retrieveAircraftProfile" soapActionRequired="" style="document"/> -->
<!-- 			<wsdl:input name="retrieveAircraftProfile"> -->
<!-- 				<soap12:body use="literal"/> -->
<!-- 			</wsdl:input> -->
<!-- 			<wsdl:output name="retrieveAircraftProfileResponse"> -->
<!-- 				<soap12:body use="literal"/> -->
<!-- 			</wsdl:output> -->
<!-- 			<wsdl:fault name="fatalError"> -->
<!-- 				<soap12:fault name="fatalError" use="literal"/> -->
<!-- 			</wsdl:fault> -->
<!-- 		</wsdl:operation> -->
      
	    <wsdl:operation name="sayHello">
	      <soap12:operation  soapAction="http://example.com/services/helloworld/sayHello" soapActionRequired="" style="document"/>
	      <wsdl:input>
	        <soap12:body use="literal" />
	      </wsdl:input>
	      <wsdl:output>
	        <soap12:body use="literal" />
	      </wsdl:output>
	      <wsdl:fault name="fatalError">
			<soap12:fault name="fatalError" use="literal"/>
		  </wsdl:fault>
	    </wsdl:operation>
    
  </wsdl:binding>

  <wsdl:service name="HelloWorld_Service">
    <wsdl:documentation>Hello World service</wsdl:documentation>
    <wsdl:port name="HelloWorld_Port" binding="tns:HelloWorld_SoapBinding">
      <soap12:address location="http://localhost:9090/example/ws/helloworld" />
    </wsdl:port>
  </wsdl:service>
 
  <wsp:Policy wsu:Id="SecurityServicePolicy">
		<wsp:ExactlyOne>
			<wsp:All>
				<sp:SupportingTokens xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
					<wsp:Policy>
						<sp:UsernameToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
							<wsp:Policy>
								<sp:WssUsernameToken10/>
							</wsp:Policy>
						</sp:UsernameToken>
					</wsp:Policy>
				</sp:SupportingTokens>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
 
</wsdl:definitions>
